<template>
  <v-layout column style="width: 900px; margin: auto;">
    <v-flex>
      <h2 style="margin-bottom: 20px;">Email Queue</h2>
      <v-flex style="text-align: right;">
        <v-btn outline depressed style="width: 100px; font-size: 10px; margin-right: 0px;" color="info" @click="newEmail">Create E-mail</v-btn>
      </v-flex>
    </v-flex>
    <v-flex>
      <v-data-table
        :headers="headers"
        :items="emails"
        class="elevation-1"
      >
        <template v-slot:items="props">
          <td>{{ props.item.email_recipients }}</td>
          <td class="text-xs-left">{{ props.item.email_subject }}</td>
          <td class="text-xs-left">{{ props.item.email_content }}</td>
          <td class="text-xs-left">{{ $moment(props.item.timestamp).format('DD MMMM YYYY HH:mm') }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'Email',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      headers: [
        {
          text: 'Recipient',
          align: 'left',
          sortable: false,
          value: 'recipient'
        },
        { text: 'Subject', value: 'subject', sortable: false },
        { text: 'Content', value: 'content', sortable: false },
        { text: 'Timestamp', value: 'timestamp', sortable: false }
      ],
      emails: []
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      const vm = this
      vm.axios.get('http://localhost:5000/api/save_emails')
        .then(function (response) {
          const results = response.data
          for (const data of results.data) {
            vm.emails.push(data)
          }
        })
    },
    newEmail () {
      const vm = this
      vm.$router.push('/create')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
