<template>
  <v-layout style="width: 900px; margin: auto;">
    <v-flex>
      <h3 style="text-align: left; margin-bottom: 20px;">New Email</h3>
      <form>
        <v-text-field
          v-model="recipient"
          label="Email Recipient"
          required
        ></v-text-field>
        <v-text-field
          v-model="subject"
          label="Email Subject"
          required
        ></v-text-field>
        <v-textarea
          v-model="content"
          label="Email Content"
          required
        ></v-textarea>
        <span class="body-2 text-xs-left d-block" style="margin-bottom: 5px;">Publish Schedule</span>
        <datetime v-model="datetime" type="datetime" label="email timestamp" style="background: white; line-height: 30px; border: none; border-bottom: solid"></datetime>
        <div style="text-align: right; margin-top: 10px;">
          <v-btn outline depressed color="success" @click="submitData()">
            Submit
          </v-btn>
        </div>
      </form>
    </v-flex>
  </v-layout>
</template>
<script>
const qs = require('qs')

export default {
  name: 'Email',
  data () {
    return {
      recipient: '',
      subject: '',
      content: '',
      datetime: ''
    }
  },
  methods: {
    submitData () {
      const vm = this
      const url = 'http://localhost:5000/api/save_emails'
      console.log(vm.datetime)
      const data = qs.stringify({
        'recipient': vm.recipient,
        'subject': vm.subject,
        'content': vm.content,
        'datetime': vm.datetime
      })
      vm.axios.post(url, data)
        .then(function (response) {
          if (response.status === 201) {
            vm.$router.push('/')
          }
        })
    }
  }
}
</script>
